<p>
	Hallo {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},
</p>
{% set site_link = "<a href='" + site_url + "'>" + site_url + "</a>" %}
<p>Auf der Seite {{ site_link }} wurde ein neues Nutzerkonto für dich angelegt.</p>
<p>Deine Emailadresse bzw. der Name deines Nutzerkontos ist: <b>{{ user }}</b>
<p>Wir schlagen vor, dass du dir dieses kurze Video auf YouTube ansiehst, das erklärt, wie du deine Anmeldung abschließt: <a href="https://youtu.be/xaWG6tZjPdA">Vereinsverwaltung #01 Anmelden und loslegen </a></p>
<p>Klicke dann unten auf die Schaltfläche 'Registrierung abschließen', um deine Registrierung abzuschließen und wähle ein Passwort!</p>
<p>Achtung, merke dir dieses Passwort gut oder speichere es in deinem Passwort Manager!</p>
<p>Wir empfehlen, dass du dir die Seite {{ site_link }} als Lesezeichen setzt, damit du LANDA beim nächsten Mal schnell wieder findest.</p>
<p>Hier noch einige Links zu unseren Youtube Videos, die die weitere Bedienung von LANDA erklären:</p>
<p><a href="https://youtube.com/playlist?list=PLCG04RYNrML993pHOo16el5DGrKN5kCzh">LANDA Videotutorials - Vereinsverwaltung / Mitgliederverwaltung </a></p>
<p><a href="https://youtube.com/playlist?list=PLCG04RYNrML-cMx1lE7DD1gNFmIdE8cZF">LANDA Videotutorials - Bestellwesen </a></p>
<p><a href="https://youtube.com/playlist?list=PLCG04RYNrML-m4h3z5tdCbBJDlGEgrMh-">LANDA Videotutorials - Bedienung und Handhabung</a></p>
<p style="margin: 15px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">Registrierung abschließen</a>
</p>

{% if created_by != "Administrator" %}
<br>
<p style="margin-top: 15px">
	Viele Grüße,<br>
	{{ created_by }}
</p>
{% endif %}
<br>
<p>
	Du kannst stattdessen auch folgenden Link kopieren und in deinem Browser einfügen<br>
	<a href="{{ link }}">{{ link }}</a>
</p>
