{% set company = frappe.get_doc("Company", doc.company) %}
{% set company_address_name = frappe.db.get_value("Dynamic Link", filters={"link_doctype": "Company", "link_name": doc.company, "parenttype": "Address"}, fieldname="parent") %}
{% set address = frappe.get_doc("Address", company_address_name) if company_address_name else None %}

<table class="footer-table">
    <tbody>
        <tr>
            <td>{% if company.company_name %}{{company.company_name}}{% else %}-{% endif %}</td>
            <td>{{ _("Managing Director") }}:</td>
            <td>{% if company.bank_name %}{{company.bank_name}}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>
                {% if address %}
                    {{ address.address_line1 }} &#183; {{ address.pincode }} {{ address.city }}
                {% else %}
                    <i>{{ _("Address not set!") }}</i>
                {% endif %}
            </td>
            <td>{% if company.ceo %}{{company.ceo}}{% else %}-{% endif %}</td>
            <td>IBAN: {% if company.iban %}{{company.iban}}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>{{ _("Phone") }}: {% if company.phone_no %}{{company.phone_no}}{% else %}-{% endif %}</td>
            <td>{{ _("Tax ID") }}.: {% if company.tax_id %}{{company.tax_id}}{% else %}-{% endif %}</td>
            <td>BIC: {% if company.bic %}{{company.bic}}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>{{ _("Email") }}: {% if company.email %}{{company.email}}{% else %}-{% endif %}</td>
            <td>{% if company.district_court %}{{company.district_court}}{% else %}-{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <td>{% if company.website %}{{company.website}}{% else %}https://lvsa-landa.de/{% endif %}</td>
            <td>{{ _("Company Register") }}: {% if company.company_register %}{{company.company_register}}{% else %}-{% endif %}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<style>
    .footer-table tbody tr td:not(:last-child) {
        padding: 0 65px 0 0 !important;
    }

    .footer-table tbody tr td:last-child {
        padding: 0 !important;
    }

    .footer-table {
        font-size: 7pt;
    }
</style>